{% extends "po_projects/base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Manage Catalog" %}{% endblock %}

{% block content %}
    {% with progress=catalog.get_progress %}<hr>
    <table class="catalog-statistics" role="grid">
        <tbody>
            <tr>
                <th>{% trans "Locale code" %}</th>
                <td>
                    <span class="locale-code label secondary">{{ catalog.locale }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "Progress" %}</th>
                <td>
                    <div class="row">
                        <div class="columns small-10 large-11">
                            <div class="progress success radius">
                                <span class="meter" style="width: {{ progress }}%"></span>
                            </div>
                        </div>
                        <div class="columns small-2 large-1">
                            <span class="progress-score">{{ progress }}%</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans "Statistics" %}</th>
                <td>
                    <dl class="sub-nav">
                        <dt style="display:none;">{% trans "Statistics" %}</dt>
                        <dd><span class="label info radius">{% trans "Total" %}: <span class="value">{{ catalog.translationmsg_set.count }}</span></span></dd>
                        <dd><span class="label warning radius">{% trans "Fuzzy" %}: <span class="value">{{ catalog.count_fuzzy_translations }}</span></span></dd>
                        <dd><span class="label secondary radius">{% trans "Empty" %}: <span class="value">{{ catalog.count_empty_translations }}</span></span></dd>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
    {% comment %}<div class="clearfix">
        <ul class="button-group stack-for-small radius right">
            <li><a href="{% url 'po_projects:catalog-messages-download' slug=project.slug locale=catalog.locale %}" class="button">{% trans "Download PO" %}</a></li>
            {% if perms.po_projects.edit_messages %}<li><a href="{% url 'po_projects:catalog-messages-edit' slug=project.slug locale=catalog.locale %}" class="button">{% trans "Edit messages" %}</a></li>{% endif %}
        </ul>
    </div>{% endcomment %}
    <div class="row">
        <div class="large-6 columns text-left">
            <a href="{% url 'po_projects:catalog-messages-download' slug=project.slug locale=catalog.locale %}" class="button small secondary radius"><i class="icon-download"></i> {% trans "Download PO" %}</a>
        </div>
        <div class="large-6 columns text-right">
            {% if perms.po_projects.edit_messages %}<a href="{% url 'po_projects:catalog-messages-edit' slug=project.slug locale=catalog.locale %}" class="button small radius">{% trans "Edit messages" %} <i class="icon-pencil"></i></a>{% endif %}
        </div>
    </div>
    {% endwith %}
    
    {% if perms.po_projects.change_catalog %}<hr>
    <h3>{% trans "Settings" %}</h3>
    {% crispy form %}{% endif %}
{% endblock %}
