{% extends "po_projects/base.html" %}
{% load i18n crispy_forms_tags %}{% load url from future %}
{% block title %}{% trans "Manage Catalog" %}{% endblock %}

{% block content %}
    <h2><small>{{ project.name }}</small> {{ catalog }}</h2>
    
    <hr>
    <h4>{% trans "Edit infos" %}</h4>
    {% crispy form %}
    
    <hr>
    <h3>{% trans "Messages" %}</h3>
    <p>{% blocktrans with messages_count=catalog.get_messages|length %}There is {{ messages_count }} messages in the catalog.{% endblocktrans %}</p>
    <h4>Translated</h4>
    <div class="radius progress success eight"><span class="meter text-center" style="width:{{ catalog.percent_translated }}%">{{ catalog.percent_translated }}%</span></div>

    <p class="text-right">
        <a href="{% url 'po_projects:catalog-messages-edit' slug=project.slug locale=catalog.locale %}" class="button">{% trans "Edit messages" %}</a>
    </p>
{% endblock %}
