{% extends "po_projects/base.html" %}
{% load i18n crispy_forms_tags %}{% load url from future %}
{% block title %}{% trans "Create a new project" %}{% endblock %}

{% block content %}
    <h2><small>{% trans "Project" %}</small> {{ project.name }}</h2>
    
    <p>{% blocktrans with messages_count=project.get_messages|length %}There is {{ messages_count }} messages in the template catalog.{% endblocktrans %}</p>
    <p class="text-right"><a href="{% url 'po_projects:project-messages' slug=project.slug %}" class="button secondary">{% trans "See messages" %}</a></p>

    <hr>
    <h3>{% trans "Project translations" %}</h3>
    <ul class="disc">{% for item in project.catalog_set.all %}
        <li>
            <a href="{% url 'po_projects:catalog-details' slug=project.slug locale=item.locale %}">{{ item }}</a>
        </li>
    {% empty %}
        <li>There is no translation yet</li>
    {% endfor %}</ul>
    
    <hr>
    <h4>{% trans "Add new" %}</h4>
    {% crispy form %}
{% endblock %}
