{% extends "po_projects/base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Create a new project" %}{% endblock %}

{% block content %}
    <h3 class="subheader">Version {{ project_version.version }}</h3>
    <hr>
    <h3>{% trans "Catalogs" %}</h3>
    <ul class="list-group">{% for item in project_version.catalog_set.all %}
    {% with progress=item.get_progress %}
        <li>
            <div class="row">
                <div class="column small-12 large-6">
                    <h4><a href="{% url 'po_projects:catalog-details' slug=project.slug locale=item.locale %}">{{ item }}</a> <small>{{ item.locale }}</small></h4>
                </div>
                <div class="column small-10 large-5">
                    <div class="progress success radius">
                        <span class="meter" style="width: {{ progress }}%"></span>
                    </div>
                </div>
                <div class="column small-2 large-1">
                    <span>{{ progress }}%</span>
                </div>
            </div>
        </li>
    {% endwith %}
    {% empty %}
        <li class="empty">There is no translation yet</li>
    {% endfor %}</ul>
    
    <div class="row">
        <div class="column large-5">
            {% if perms.po_projects.add_catalog %}
            {% comment %}<h4>{% trans "Add a new catalog" %}</h4>{% endcomment %}
            {% crispy form %}{% endif %}
        </div>
        <div class="column large-7">
            <div class="clearfix">
                <ul class="button-group stack-for-small radius right">
                    <li><a href="{% url 'po_projects:project-download' slug=project.slug %}" class="button small">{% trans "Download full archive" %}</a></li>
                    {% if perms.po_projects.change_project %}<li><a href="{% url 'po_projects:project-update' slug=project.slug %}" class="button small">{% trans "Settings" %}</a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
    
    
    {% comment %}<hr>
    <h3>{% trans "Messages to translate" %} ({{ project.get_current_version.templatemsg_set.count }})</h3>
    <ol>{% for item in project.get_current_version.templatemsg_set.all %}
        <li>
            <blockquote>
                <p>{{ item.message }}
                <cite>{{ item.locations }}</cite></p>
            </blockquote>
        </li>
    {% endfor %}</ol>{% endcomment %}
{% endblock %}
