{% extends "po_projects/base.html" %}
{% load i18n crispy_forms_tags %}{% load url from future %}
{% block title %}{% trans "Project messages" %}{% endblock %}

{% block content %}
    <h2><small>{% trans "Project" %}</small> {{ project.name }} {% blocktrans with messages_count=project.get_babel_catalog|length %}messages ({{ messages_count }}){% endblocktrans %}</h2>
    
    <hr>
    <ul class="disc">{% for msg in project.get_babel_catalog %}{% if not msg.fuzzy %}
        <li>
            <p><small>{{ msg.locations }}</small></p>
            <div>
                {{ msg.id|safe }}
            </div>
            <div><blockquote>
                {{ msg.id }}
            </blockquote></div>
        </li>
    {% endif %}{% endfor %}</ul>
{% endblock %}
